<!-- Create your form here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Student Form</h1>
    <%= form_for @student do |f|%>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
        <br>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
        <br>
        <%= f.label :age %>
        <%= f.number_field :age %>
        <br>
        <%= f.submit "Make new student"%>
    <% end %>
    <br>
    <%= button_to "Students page", students_path, method: :get %>
</body>
</html>