<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create new project</h1>
    <br>
    <%= form_tag projects_path do %>
        <label>Project Name</label><br>
        <%= text_field_tag :project_name %><br>
        <br>
        <label>Student</label><br>
        <select name="student_id">
        <%= @students.each do |student| %>
            <option value="<%= student.id %>">
                <%= student.full_name %>
            </option>
        <% end %>
        </select>
        <br>
        <br>
        <label>Techer</label><br>
        <select name="teacher_id">
        <%= @teachers.each do |teacher| %>
            <option value="<%= teacher.id %>">
                <%= teacher.full_name %>
            </option>
        <% end %>
        </select>
        <br>
        <br>
        <%= submit_tag "Create new project" %>
    <% end %> 
    <br>
    <button>
        <a href="/projects">Projects page</a>
    </button>
</body>
</html>