<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create new teacher</h1>
    <%= form_tag teachers_path do %>
        <label>Teacher first name</label><br>
        <%= text_field_tag :first_name %><br>
        <label>Teacher last name</label><br>
        <%= text_field_tag :last_name %><br>
        <label>Teacher age</label><br>
        <%= text_field_tag :age %><br>
        <br>
        <%= submit_tag "Submnit teacher"%>
    <% end %>
</body>
</html>